@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MINIJUEGOS</h1>
    <p class="mensajeindex">¿Estás aburrido y no sabés qué hacer? ¡Acá tenés juegos cortos para divertirte!
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <img src="/images/Piedra, papel o tijera.jpg" class="card-img-top" alt="Piedra, papel o tijera">
                    <div class="card-body">
                        <h5 class="card-title">Piedra, papel o tijera</h5>
                        <p class="card-text">¡El clásico! Utilizá los tres elementos para consagrarte ganador de esta lucha sin fin.</p>
                        <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                            <input type="hidden" name="juego" value="1">
                            <input type="submit" value="Jugar" class="btn btn-primary" for="btn-check"></input>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/mayormenor.png" class="card-img-top" alt="MAMEIG">
                    <div class="card-body">
                        <h5 class="card-title">¿El número es...?</h5>
                        <p class="card-text">¿Es mayor? ¿Es menor? ¿Es igual? ¡Comprobalo en este maravilloso juego de azar! ¡Buena suerte!</p>
                        <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                            <input type="hidden" name="juego" value="2">
                            <input type="submit" value="Jugar" class="btn btn-primary"></input>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Ahorcado.png" class="card-img-top imgajustada" alt="Ahorcado">
                    <div class="card-body">
                        <h5 class="card-title">Ahorcado</h5>
                        <p class="card-text">Adiviná la palabra que estamos pensando, pero, ¡sé prudente! No querrías ser ahorcado...</p>
                        <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                            <input type="hidden" name="juego" value="3">
                            <input type="submit" value="Jugar" class="btn btn-primary" for="btn-check"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <div class="card">
                    <img src="/images/adiviná la palabra.jpg" class="card-img-top" alt="El rosco">
                    <div class="card-body">
                        <h5 class="card-title">Adiviná la palabra</h5>
                        <p class="card-text">¿Cuántas palabras y sus significados conocés? ¡Comprobalo en este desafiante juego!</p>
                        <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                            <input type="hidden" name="juego" value="4">
                            <input type="submit" value="Jugar" class="btn btn-primary" for="btn-check"></input>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Ta-te-ti.jpg" class="card-img-top imgajustada" alt="Ta-te-ti">
                    <div class="card-body">
                        <h5 class="card-title">Ta-te-ti</h5>
                        <p class="card-text">¡El juego de las formas! Juntando azar con estrategia, ¡podés ganar este tradicional juego!</p>
                        <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                            <input type="hidden" name="juego" value="5">
                            <input type="submit" value="Jugar" class="btn btn-primary" for="btn-check"></input>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="/images/Sopa de letras.png" class="card-img-top" alt="Piedra, papel o tijera">
                    <div class="card-body">
                        <h5 class="card-title">Sopa de letras</h5>
                        <p class="card-text">¡Encontrá todas las palabras que puedas! Pero, cuidado... ¡No vaya a ser que te dé hambre!</p>
                        <form action='@Url.Action("GuardarJuegoSeleccionado", "Home")'>
                            <input type="hidden" name="juego" value="6">
                            <input type="submit" value="Jugar" class="btn btn-primary" for="btn-check"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

