@{
    ViewData["Title"] = "¿El número es...?";
}

<div class="text-center">
    <h2 class="display-4">¿El número es...?</h2>
    <p class="textojugar">¡A jugar!</p>
    <p class="datomameig">@ViewBag.Dato</p>
    <div class="alert alert-primary" role="alert">
        Racha: @ViewBag.contador
    </div>
    <h6>El número actual es</h6>
    <h4 class="numero">@ViewBag.numero</h4>
    <h5>¿El siguiente número es mayor, menor o igual?</h5>
    <div class="formsmameig">
        <form class="mameig" action='@Url.Action("validarmameig", "Home")'>
            <input type="submit" name = "accion" value="Menor" class="btn btn-primary"></input>
        </form>
        <form class="mameig" action='@Url.Action("validarmameig", "Home")'>
            <input type="submit" name = "accion" value="Igual" class="btn btn-primary"></input>
        </form>
        <form class="mameig" action='@Url.Action("validarmameig", "Home")'>
            <input type="submit" name = "accion" value="Mayor" class="btn btn-primary"></input>
        </form>
    </div>
    
</div>